
@{
    ViewBag.Title = "Show";
    Layout = "~/Areas/SysAdmin/Views/Shared/_AdminLayout.cshtml";
}
@model WebProject.UI.Areas.SysAdmin.Models.VM.PhotoVM

    <div class="row">
        <div class="col-md-8">
            <div class="blog-view">
                <article class="blog blog-single-post">
                    <h3 class="blog-title">@Model.Photo.Name</h3>
                    <div class="blog-info clearfix">
                        <div class="post-left">
                            <ul>
                                <li><a href="#."><i class="fa fa-calendar"></i> <span>@Model.Photo.AddDate.Date.Day-@Model.Photo.AddDate.Date.Month-@Model.Photo.AddDate.Date.Year</span></a></li>
                                <li><a href="#."><i class="fa fa-user-o"></i> <span>@Model.UserName tarafından eklendi.</span></a></li>
                            </ul>
                        </div>                       
                    </div>
                    <div class="blog-image">
                        @{
                            var base64 = Convert.ToBase64String(Model.Photo.Url);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                            <a><img class="img-fluid" src="@imgsrc" alt=""></a>
                        }
                    </div>                    
                </article>                           
                                
            </div>
        </div>
        <aside class="col-md-4">            
            <div class="widget post-widget">
                <h5>Son Eklenen Fotoğraflar</h5>
                <ul class="latest-posts">
                    @foreach (var item in Model.Photos)
                    {
                        <li>
                            <div class="post-thumb">
                                @{
                                    var base64a = Convert.ToBase64String(item.Url);
                                    var imgsrc1 = string.Format("data:image/jpg;base64,{0}", base64a);                                    
                                }
                                <a href="/SysAdmin/Photo/Show/@item.ID">
                                    <img class="img-fluid" src="@imgsrc1" alt="">
                                </a>
                                <p>@item.User.UserName</p>
                            </div>                            
                        </li>
                    }
                </ul>
            </div>
            <div class="widget category-widget">
                <h5>Fotoğraf kategorileri</h5>
                <ul class="categories">
                    @foreach (var cat in Model.Categories)
                    {
                        <li><a href="/SysAdmin/Photo/ListByCategory/@cat.ID"><i class="fa fa-long-arrow-right"></i>@cat.Name</a></li>
                    }
                </ul>
            </div>            
        </aside>
    </div>

