
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/SysAdmin/Views/Shared/_AdminLayout.cshtml";
}
@model WebProject.UI.Areas.SysAdmin.Models.VM.QuestionAnswerVM
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title">Soru & Cevap Düzenle </h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <form action="/SysAdmin/QA/Update" role="form" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="Content">Soru</label>
                <input name="Content" placeholder="@Model.Content" class="form-control"  type="text">
                <input name="QuestionID" value="@Model.QuestionID" style="visibility:hidden" />
            </div>
            <div class="form-group">
                <label for="AnswerContent">Cevap</label>
                <input name="AnswerID" value="@Model.AnswerID" style="visibility:hidden" />
                <textarea name="AnswerContent" cols="30" rows="4" placeholder="@Model.AnswerContent" class="form-control"></textarea>
            </div>
            @*<div class="form-group">
                    <input name="UserID" value="@Session["ID"]" />
                </div>*@
            <div class="m-t-20 text-center">
                <button class="btn btn-primary submit-btn">Kaydet</button>
            </div>
        </form>
    </div>
</div>

